{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
<h1 class="fs-1">Cel aplikacji</h1>
<p1 class='fs-4'>Aplikacja służy do pobierania z serwisu Ceneo.pl opinii o produktach na podstawie ich indywidualnych kodów oraz do wyświetlenia pobranych opinii i podstawowych statystyk o nich. </p1>
<h2 class="fs-1">Opis działania aplikacji</h2>
<p2 class="fs-4">Celem działania aplikacji jest pobieranie opinii o produktach z serwisu Ceneo.pl. Dla
produktu, którego kod zostanie podany jako parametr należy pobrać jego nazwę oraz
wszystkie dostępne opinie o nim. Dla każdej opinii należy pobrać:
</p2>
<h3 class="fs-1">Zastosowane biblioteki</h3>
<ul class="fs-4">
<li>BeatifulSoup</li>
<li>Requests</li>
<li>Json</li>
<li>Os</li>
<li>Pandas</li>
<li>Numpy</li>
<li>Matplotlib</li>
</ul>
<h4 class="fs-1">Zastosowane podejścia</h4>
<p4 class="fs-4"> Zastosowane zostało bardzo wiele podejść które umożliwiły nam napisanie tego świetnego parsera. </p4>
{% endblock %}