{% extends 'base.html' %}
{% block title %}Wykresy {% endblock %}
{% block content %}
<div class="container" style="text-align: center; margin-top: 50px;">
    <h1>WYKRESY</h1>
    <img src="data:image/png;base64,{{ chart1_base64 }}" alt="Wykres">
    <img src="data:image/png;base64,{{ chart2_base64 }}" alt="Wykres">
</div>

</div>
<a href="{{ url_for('productsite', product_code=product_code) }}" class="btn btn-secondary " class="" style="text-align: center; margin-bottom: 50px;">Wróć do strony produktu</a>
</div>

{% endblock %}