{% extends 'base.html' %}
{% block title %}Opis projektu {% endblock %}
{% block content %}
<div class="container table table-bordered text-center" style="margin-top: 50px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa Produktu</th>
                <th scope="col">Liczba opinii</th>
                <th scope="col">Liczba wad</th>
                <th scope="col">Liczba zalet</th>
                <th scope="col">Średnia ocena</th>
                <th scope="col">Pobierz</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td scope="col"><a href="https:\\ceneo.pl">aaaaa</a></td>
                <td scope="col">b</td>
                <td scope="col">c</td>
                <td scope="col">d</td>
                <td scope="col">e</td>
                <td scope="col"><button>przycisk</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}